@media screen and (max-width: 1400px) {

    main.product-home-container {
        padding: 0 10px 0 10px;
    }

    .product-home {
        margin: 20px 0 20px 0;
        width: 100%;
    }

    .product-home-text {
        padding: 10px 100px 40px 100px;
    }

    .text-rewards {
        padding: 10px 170px 30px 170px;
    }
}

@media screen and (max-width: 1200px) {
    main.product-home-container {
        padding: 0 10px 0 10px;
    }

    .product-home {
        margin: 20px 0 20px 0;
        width: 100%;
    }

    .product-home-text {
        padding: 10px 100px 40px 100px;
    }

    .text-rewards {
        padding: 10px 170px 30px 170px;
    }
}

@media screen and (max-width: 992px) {
    main.product-home-container {
        padding: 0 10px 0 10px;
    }

    .product-home {
        margin: 20px 0 20px 0;
        width: 100%;
    }

    .product-home-text {
        padding: 50px 30px 30px 30px;
    }

    .text-rewards {
        padding: 10px 100px 30px 100px;
    }

    .footer-top {
        display: none;
    }

    .footer-top-mobile {
        display: block;
        padding: 10px;
    }

    .dropdown-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    .dropdown-icon h2 {
        font-size: 18px;
    }

    .social-icons {
        padding: 0;
        margin: 0;
    }

    .footer-bottom-list {
        padding-left: 10px;
        margin: 0;
    }

    .footer-bottom-final {
        margin: 0;
    }

    .line {
        width: 100%;
    }

    .dropdown-menu ul {
        overflow: hidden;
        padding: 0;
        margin: 0;
        opacity: 0;
        max-height: 0;
        transition: max-height 0.75s ease-out, opacity 0.75s ease-out;
    }

    .dropdown-menu ul.active {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    body.no-scroll {
        overflow: hidden;
    }

    .navbar {
        padding: 10px;
        position: relative;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
    }

    .navbar-mobile {
        display: flex;
    }

    .navbar-mobile ul {
        list-style-type: none;
        position: fixed;
        right: -100%;
        top: 15%;
        background-color: white;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        padding: 30px;
        transition: right 0.75s ease-out;
    }


    .navbar-mobile ul.active {
        right: 0;
    }

    .navbar-mobile a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

    .find-a-store a {
        text-transform: none;
        margin: 0;
    }

    .sign-in-button a {
        text-transform: none;
    }

    .join-now-button a {
        text-transform: none;
        color: white;
    }

    .navbar-mobile ul > li {
        padding: 20px 0;
    }

    .navbar-right,
    .navbar-left ul {
        display: none;
    }

    .navbar-mobile {
        width: 100%;
        justify-content: flex-start;
    }

    .logo {
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    body {
        width: 110vh;
    }

    .navbar-mobile ul {
        top: 8%;
        height: 200vh;
    }

}